
.aboutme {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.aboutme_left {
    width: 360px;
    margin-left: 40px;
}

.aboutme_right {
    position: absolute;
    top: 0px;
    left: 400px;
}


.aboutme_right h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.aboutme_right h2 span {
    color: #A5C7AC;
}

.aboutme_right p {
    color: #666666;
    font-size: 15px;
    text-indent: 2rem;
    line-height: 28px;
}

.aboutme_right a {
    display: inline-block;
    width: 137px;
    height: 36px;
    color: #A5C7AC;
    border: 1px solid #A5C7AC;
    border-radius: 18px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top: 50px;
}

#more_shop {
    width: 100%;
    background-color: #A5C7AC;
    padding: 40px 0px;
}

#more_shop h2 {
    text-align: center;
    color: #fff;
}

#more_shop h2 span {
    font-size: 16px;
}

.box {
    width: 1100px;
    height: 300px;
    transform-style: perserve-3d;
    margin: 10px auto;
    position: relative;
}

.box img {
    width: 550px;
    position: absolute;
    top: 60px;
    transition: all .3s linear;
}

.box:hover .btn {
    opacity: 1;
}

.front {
    left: 0px;
}

.back {
    left: 550px;
}

.active {
    left: 300px;
    transform: scale(1.5);
    z-index: 10;
}

.btns .btn {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    font-size: 50px;
    font-family: "微软雅黑";
    color: rgba(255, 255, 255, .5);
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: opacity .3s linear;
}

.btns .btn:first-child {
    top: 125px;
}

.btns .btn:last-child {
    top: 125px;
    right: 0px;
}

#shop_list {
    margin-top: 60px;
    margin-bottom: 60px;
}

#shop_list h2 {
    text-align: center;

}

#shop_list h2 span {
    color: #A5C7AC;
}

#shop_list h2 p {
    font-size: 14px;
}

.more_list {
    font-size: 0px;
    text-align: center;
    margin-top: 40px;
}

.more_list li:nth-child(2) {
    margin: 0px 110px;
}

.more_list li {
    display: inline-block;
    width: 260px;
}

.more_list li img {
    width: 100%;
    height: 260px;
}
.more_list_title{
    font-size: 16px;
    font-weight: bolder;
    margin-top: 10px;
}
.more_list_txt{
    color: #949494;
    margin-top: 5px;
    font-size: 12px;
}
#segmentation{
    text-align: center;
    padding: 60px 0px;
    color: #ffffff9d;
    background-color: #A5C7AC;
}
#segmentation p:first-child{
    font-size: 24px;
    font-family: '楷体';
    font-weight: bolder;
}
#segmentation p:last-child{
    font-size: 14px;
    font-family: '楷体';
   margin-top: 5px;
}
#information{
    text-align: center;
}
.more_list2 li {
   text-align: left;
   border: 1px solid #E2E2E2;
   padding: 10px;
}
.more_list2 li img{
    height: 100px;
}
#information {
    margin-top: 60px;
    margin-bottom: 60px;
}

#information h2 {
    text-align: center;

}

#information h2 span {
    color: #A5C7AC;
}

#information h2 p {
    font-size: 14px;
}